<p>
  my-tasklist works!
</p>
<ul class="tasks">
  <li *ngFor="let task of tasks"
    [class.selected]="task === selectedTask"
    (click)="onSelect(task)">
    <span class="badge">{{task.id}}</span> 
    [{{task.created}}] {{task.name}}
  </li>
</ul>
<div *ngIf="selectedTask">
  <h2>{{selectedTask.name}}</h2>
  <div><label>id: </label>{{selectedTask.id}}</div>
  <div><label>created: </label>{{selectedTask.created}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="selectedTask.name" placeholder="name"/>
  </div>
  <div>
    <label>description: </label>
    <input [(ngModel)]="selectedTask.description" placeholder="description"/>
  </div>
  <div>
    <label>author: </label>
    <input [(ngModel)]="selectedTask.author" placeholder="author"/>
  </div>
  <button (click)="onDelete(selectedTask)">Delete</button>
  <button *ngIf="blank" (click)="onCreate(selectedTask)">Create</button>
</div>
<button *ngIf="!blank" (click)="onAdd()">Add</button>
<button *ngIf="tasks" (click)="orderBy('name', true)">↑ name</button>
<button *ngIf="tasks" (click)="orderBy('name', false)">↓ name</button>
<button *ngIf="tasks" (click)="orderBy('created', true)">↑ created</button>
<button *ngIf="tasks" (click)="orderBy('created', false)">↓ created</button>

